HOST=0.0.0.0
PORT=1337
SERVER_URL=https://api.kalikicker.de
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

# Mailgun Email
MAILGUN_API_KEY=your-mailgun-api-key
MAILGUN_DOMAIN=your-domain.mailgun.org
MAILGUN_API_URL=https://api.mailgun.net
MAIL_FROM=info@kalikicker.de
MAIL_REPLY_TO=info@kalikicker.de
BOOKING_NOTIFY_TO=team@kalikicker.de
